@charset "utf-8";
/* CSS Document */

body {
	background-color:#000;
	margin:0;
	padding:0;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:12px;
	color:#333
	}
h1,p, h2 {margin:0;padding:0}
#about,#cast,#crew {display:none}
button {cursor:pointer}
#home_btn:hover,#about_btn:hover,#cast_btn:hover,#crew_btn:hover,.selected {
	background:url(../img/menu-hover.png) no-repeat;
}
.wrapper {
	width:900px;
	margin:0 auto;
	padding:0;
	color:#CCC;
	}
#scroll {
	width:1000px;
	height:400px;
	overflow:scroll hidden;
	pading:25px;
	}
.selected {
	background:url(../img/menu-hover.png) no-repeat;
	margin-bottom:1px;
	width: 115px;
	height:36px;
	border:none;
}
.castpict {display:inline-block; margin:5px; text-align:center; width:100px; vertical-align:top}
.btn {
	background:url(../img/menu.png) no-repeat;
	margin-bottom:1px;
	width: 115px;
	height:36px;
	border:none;
	opacity:0.8
}
#menu .btn {
	margin-bottom:1px;
	width: 115px;
	height:36px;
	border:none;
}
#menu {
	left: 0;
    margin-left: auto;
    padding: 0;
    position: fixed;
    top: 150px;
    width: 115px;
    z-index: 1000;
	cursor:pointer;
	}
#home_btn {
	background-position:0% 0px;
	}
#home_btn:hover {
	background-position:0% 0px;
	}
#about_btn {
	background-position:0% -38px;
	}
#about_btn:hover {
	background-position:0% -38px;
	}
#cast_btn {
	background-position:0% -76px;
	}
#cast_btn:hover {
	background-position:0% -76px;
	}
#crew_btn {
	background-position:0% -112px;
	}
#crew_btn:hover {
	background-position:0% -112px;
	}
#home,#about,#cast,#crew {
	clear:both;
	width:100%;
	height:620px;
	}
#home {
	background:url(../img/napza-home.jpg) no-repeat center;
	}
#about{
	font-family:"Courier New", Courier, monospace;
	font-size:14px;
	color:#999
	}
#cast{
	}
#cast h2 {font-family:"Courier New", Courier, monospace; font-size:12px;}
#crew{
	}
#footer {
	position:absolute;
	bottom:0px;
	left:0px;
	height:50px;
	background:#FFF;
	width:100%;
	background: #FFF url(../img/sntd.png) no-repeat right bottom;
	}
#foot-content {
	float:right;
	text-align:right;
	padding-right:110px;
	padding-top:8px;
	}